.GamePage {
  padding-top: 2rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  .agent {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/img/monkey-sprite.png);
  }

  .floor.selected {
    border: 2px solid #eba947;
    z-index: 999;
  }

  .floor {
    width: 100%;
    height: 100%;
    border: 1px solid #665235;
    background: #836b32;
  }

  .floor:hover {
    cursor: pointer;
    border: 2px solid #eba947;
    z-index: 999;
  }
}